@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition-duration: 100ms;
}

.dark {
  --background: 17, 17, 17;
  --foreground: 247, 247, 247;
  --primarybutton: 96, 165, 250;
  --primarybuttontext: 247, 247, 247;
  --h1: 247, 247, 247;
  --h2: 180, 180, 180;
  --p: 180, 180, 180;

  --logo: https://github.com/rookitnet/.github/blob/main/images/rookit-logo.png?raw=true
}

.light {
  --background: 247, 247, 247;
  --foreground: 17, 17, 17;
  --primarybutton: 17, 17, 17;
  --primarybuttontext: 247, 247, 247;
  --h1: 23, 23, 23;
  --h2: 23, 23, 23;
  --p: 23, 23, 23;

  --logo: https://github.com/rookitnet/.github/blob/main/images/rookit-logo-black.png?raw=true
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  color: rgba(var(--h1));
}

h2 {
  font-size: 2rem;
  color: rgba(var(--h2));
}

p {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgba(var(--p));
}